.goals {
  display: flex;
}

.goalWrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.center {
  font-size: 0.8rem;
  font-weight: bold;
}

.subGoal {
  font-size: 1rem;
}

.goal {
  display: flex;
  justify-content: center;
  align-items: center;
  resize: none;
  border: none;
  text-align: center;

  width: 4.3rem;
  height: 4.3rem;
  padding: 1rem;
}

.goal:focus {
  outline: 0;
}

.first-first,
.second-first,
.third-first {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.first-second,
.second-second,
.third-second,
.first-third,
.second-third,
.third-third {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.third-first,
.third-second,
.third-third {
  border-bottom: 1px solid black;
}

.second-second {
  color: black;
  font-size: 1.3rem;
}
